@import "grid";
@import "variables";
@import "animations";
@import "flex";
@import "layout";
@font-face {
    font-family: BlackDiamond;
    src: url(../fonts/Black-Diamond.otf);
    font-weight: normal;
}

@font-face {
    font-family: BrandonLight;
    src: url(../fonts/Brandon_light.otf);
    font-weight: normal;
}

@font-face {
    font-family: BrandonLight;
    src: url(../fonts/Brandon_reg.otf);
    font-weight: bold;
}

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: $grey;
    font-family: BrandonLight, sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: $main-font-size;
    color: $black;
    cursor: default !important;
}

.fullHeightSection {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.cactusBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 50px);
    //background: url(../images/background.svg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    .white {
        width: 100%;
        height: 100%;
        /*background-color: rgba(255,255,255,0.4);*/
        filter: blur(2px);
    }

    .cactusDots {
        fill:rgb(152,193,169);
        stroke:black;
        stroke-width:1px;
    }

}

.nameDescriptionContainer {
    display: inline-block;
    width: 600px;
    position: relative;
    top: -20px;

    .name {
        background-color: rgba(255,255,255,0.8);
        font-family: BlackDiamond;
        display: inline-block;
        font-size: 100px;
        padding: 20px;
        text-align: center;
        float: left;
    }

    .description {
        font-family: BrandonLight;
        display: inline-block;
        font-size: 24px;
        background-color: rgba(250,219,224,0.9);
        width: calc(100% - 100px);
        padding: 20px;
        text-align: center;
        float: right;
        margin-top: -40px;
    }

    @media screen and (max-width: $break-small) {
        margin-left: 0;
        width: 100%;
        text-align: center;

        .name {
            font-size: 60px;
            float: none;
        }

        .description {
            width: 100%;
            margin-top: 20px;
            font-size: 18px;
        }

    }
}

#scroll {
    background: url(../images/scroll.svg);
    width: 50px;
    height: 40px;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 20px);
    text-align: -webkit-right;
    font-weight: bold;
    font-size: 16px;
    text-shadow: stroke(2, $white);

    cursor: pointer;
}

.section {
    position: relative;

    .title {
        background-color: $black;
        font-family: BlackDiamond;
        padding: 20px 80px;
        font-size: 40px;
        color: white;
    }

    .right {
        text-align: right;
    }

    .computerContainer {
        max-width: 360px;
        width: 100%;
        height: 198px;
        position: relative;
        display: inline-block;
        vertical-align: top;

        .computer {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $break-small) {
            height: auto;
            margin-bottom: 10px;
        }
    }

    .gifStaticContainer  {

        img {
            width: 69%;
            height: auto;
        }

        .static, .gif {
            position: absolute;
            top: 6.5%;
            left: 15.5%;
        }

        .gif {
            display: none;
        }

        &.iphone {
            img {
                width: 23.3%;
            }

            .static, .gif {
                top: 11.5%;
                left: 38.5%;
            }
        }


        &.ipad {
            img {
                width: 55.1%;
            }

            .static, .gif {
                top: 11.2%;
                left: 22.5%;
            }
        }
    }

    &.hideScroll {
        .map {
            visibility: hidden;
        }
    }

    &.showScroll {
        img {
            -webkit-animation-duration: .6s; 
            animation-duration: .6s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
            -webkit-animation-timing-function: ease-in-out; 
            animation-timing-function: ease-in-out; 
            -webkit-animation-name: fadeIn; 
            animation-name: fadeIn; 
        }
    }

    a:nth-of-type(2n+1) {

        @media screen and (min-width: $break-small) {
            .computerContainer {
                float: right;
            }
        }
    }


    @media screen and (max-width: $break-small) {
        .title {
            padding: 20px;
        }
    }
}

.map {
    height: 500px;
    margin-top: -80px;
    margin-left: 80px;

    @media screen and (max-width: $break-medium) {
        margin-left: 20px;
    }

    @media screen and (max-width: $break-small) {
        margin-top: -50px;
        margin-left: 0;
        width: 100%;
    }
}

.mapDescription {
    width: calc(100% - 408px);
    float: right;
    margin-right: 80px;
    margin-left: -100px;
    position: relative;
    height: 420px;
    font-size: 18px;

    .paragraph {
        margin-bottom: 20px;
    }

    .iconsContainer {
        text-align: center;
        svg {
            width: 20px;
            height: 20px;
            fill: $white;
            vertical-align: middle;
            margin-top: 8px;
        }

        .svgContainer {
            cursor: pointer;
            width: 38px;
            height: 38px;
            border-radius: 30px;
            text-align: center;
            display: inline-block;
            background-color: $black;

            &:hover {
                
                svg {
                    fill: rgba(250,219,224,1);
                }
            }
        }
    }

    @media screen and (max-width: $break-medium) {
        width: calc(100% - 208px);
        margin-left: -200px;
        margin-right: 20px;
    }

    @media screen and (max-width: $break-small) {
        position: absolute;
        padding: 20px;
        left: 0;
        top: 100px;
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.project {
    padding: 40px 80px;
    text-align: center;

    .division {
        width: 15px;
        height: 100%;
        display: inline-block;

        @media screen and (max-width: $break-small) {
            display: none;
        }
    }

    .content {
        display: inline-block;
        width: calc(100% - 386px);
        text-align: left;

        .contentContainer {
            min-height: 198px;
        }

        @media screen and (max-width: $break-small) {
            display: block;
            width: 100%;

            .contentContainer {
                min-height: 0;
            }
        }
    }

    .title {
        font-family: BrandonLight;
        font-weight: bold;
        display: inline-block;
        width: auto;
        font-size: 18px;
        padding: 8px 12px;
        color: $black;
        background-color: rgba(250,219,224,1);
    }

    .tags {
        font-size: 10px;
        margin: 10px 0 6px;

        div {
            display:  inline-block;
            background-color: $black;
            color: $white;
            padding: 5px;
            margin-bottom: 4px;
        }

        @media screen and (max-width: $break-small) {
            margin-bottom: 0;

            div {
                margin-bottom: 0;
            }
        }
    }

    .description {
        @media screen and (max-width: $break-medium) {
            display: none;
        }
    }

    .descriptionFull {
        display: none;
        margin-top: 10px;
        text-align: left;

        @media screen and (max-width: $break-medium) {
            display: block;
        }
    }

    &:hover {
        .gifStaticContainer .gif {
            display: block;
        }

        .gifStaticContainer .static {
            display: none;
        }
    }

    @media screen and (max-width: $break-small) {
        .gifStaticContainer .gif {
            display: block;
        }

        .gifStaticContainer .static {
            display: none;
        }
    }

    &.hideScroll {
        .gifStaticContainer, .computer {
            display: none;
        }
    }

    &.showScroll {
        .gifStaticContainer, .computer {
            -webkit-animation-duration: .6s; 
            animation-duration: .6s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
            -webkit-animation-timing-function: ease-in-out; 
            animation-timing-function: ease-in-out; 
            -webkit-animation-name: fadeIn; 
            animation-name: fadeIn; 
        }
    }

    @media screen and (max-width: $break-small) {
        padding: 20px 20px;

        &.hideScroll {
            .gifStaticContainer, .computer {
                display: block;
                visibility: hidden;
            }
        }

        &.showScroll {
            img {
                -webkit-animation-duration: .6s; 
                animation-duration: .6s; 
                -webkit-animation-fill-mode: both; 
                animation-fill-mode: both; 
                -webkit-animation-timing-function: ease-in-out; 
                animation-timing-function: ease-in-out; 
                -webkit-animation-name: fadeIn; 
                animation-name: fadeIn; 
            }
        }
    }
}


a {
    text-decoration: none;
    color: inherit;
}
